* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: "Aller";
  src: url("./assets/fonts/Aller/Aller_Std_Lt.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Aller";
  src: url("./assets/fonts/Aller/Aller_Std_LtIt.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "Aller";
  src: url("./assets/fonts/Aller/Aller_Std_Rg.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Aller";
  src: url("./assets/fonts/Aller/Aller_Std_It.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Aller";
  src: url("./assets/fonts/Aller/Aller_Std_Bd.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Aller";
  src: url("./assets/fonts/Aller/Aller_Std_BdIt.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: "Aller Display";
  src: url("./assets/fonts/Aller/AllerDisplay_Std_Rg.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: "Aller", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
.display-text {
  font-family: "Aller Display", sans-serif;
}
.menu-btn {
  /* This ensures the shadow transition is also smooth */
  transition:
    transform 0.1s ease-out,
    filter 0.1s,
    box-shadow 0.1s !important;
}

.menu-btn:hover {
  filter: brightness(1.2) !important;
  /* We manually include the skew so it doesn't snap back to straight */
  transform: translateX(3vw) skewX(-15deg) scale(1.05) !important;

  /* Bring to front so shadow isn't covered by other buttons */
  z-index: 50 !important;

  /* A nice pinkish glow shadow to match the theme */
  box-shadow:
    0 10px 30px rgba(0, 0, 0, 0.5),
    0 0 15px rgba(179, 161, 255, 0.3);
}
